<!DOCTYPE html>
<html lang="en">
<head>
  <title>Web Coding Challenge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.0/lodash.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
	  	button {
		  	width: 100px;
	  	}
		.alert {
   			width:300px;    
		}
  </style>
</head>
<body>
 
<div id="app">
	<nav class="navbar navbar-expand-lg navbar-light" v-if="page !== 'login' && page !== 'signup'">
		<div class="navbar-collapse collapse">
			<ul class="navbar-nav mr-auto"></ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-primary" href="#" v-on:click.prevent="getProducts">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-primary" href="#" v-on:click.prevent="getNearbyProducts">Nearby Shops</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-primary" href="#" @click="getPreferredProducts">My preferred Shops</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-primary" href="#" @click="logout">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<br />
	<h4 v-if="message"><center>{{message}}</center></h4>
	<center>
		<div class="alert alert-danger alert-dismissible" v-if="error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Error!</strong>  {{error}}
		</div>
	</center>
	<div class="container" v-if="page === 'login'">
		<h2>Login</h2>
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" v-model="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" v-model="password">
		</div>
		<button type="button" class="btn btn-primary" v-on:click.prevent="login" >Login</button>
		<button type="button" class="btn btn-default" v-on:click.prevent="page = 'signup'" >Signup</button>
	</div>

	<div class="container" v-if="page === 'signup'">
		<h2>Signup</h2>
		<div class="form-group">
			<label for="username">username:</label>
			<input type="username" class="form-control" id="username" placeholder="Enter username" name="username" v-model="username">
		</div>				
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" v-model="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" v-model="password">
		</div>
		<button type="button" class="btn btn-primary" v-on:click.prevent="signup">Signup</button>
	</div>

	<div class="container">			
		<div class="row" v-if="page === 'home'">
			<div class="col-md-3" v-for="product in orderedProducts" v-if="!product.liked">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">{{product.Title}}</h4>
					</div>
					<img class="card-img-top" :src="product.Image">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6" v-if="product.liked">
								<button class="btn btn-danger" v-on:click.prevent="dislike(product)">Dislike</button>
							</div>
							<div class="col-md-6" v-if="!product.liked">
								<button class="btn btn-danger disabled">Dislike</button>
							</div>
							<div class="col-md-6" v-if="product.liked">
								<button class="btn btn-success disabled">Like</button>
							</div>
							<div class="col-md-6" v-if="!product.liked">
								<button class="btn btn-success" v-on:click.prevent="like(product)">Like</button>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" v-if="page === 'preferred'">
				<div class="col-md-3" v-for="product in orderedProducts">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">{{product.Title}}</h4>
						</div>
						<img class="card-img-top" :src="product.Image">
						<div class="card-body">
							<div class="row">
								<div class="col-md-6" v-if="product.liked">
									<button class="btn btn-danger" v-on:click.prevent="dislike(product)">Dislike</button>
								</div>
								<div class="col-md-6" v-if="!product.liked">
									<button class="btn btn-danger disabled">Dislike</button>
								</div>
								<div class="col-md-6" v-if="product.liked">
									<button class="btn btn-success disabled">Like</button>
								</div>
								<div class="col-md-6" v-if="!product.liked">
									<button class="btn btn-success" v-on:click.prevent="like(product)">Like</button>
								</div>		
							</div>
						</div>
					</div>
				</div>
			</div>
		<br />
		<div class="row" v-if="page === 'nearby'">
			<div class="col-md-3" v-for="product in orderedProducts">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">{{product.Title}}</h4>
					</div>
					<img class="card-img-top" :src="product.Image">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<button class="btn btn-danger" v-on:click.prevent="removeNearby(product)">Remove</button>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>

</div>

<script>
var app = new Vue({
	el: '#app',
	data: {
		url: 'http://localhost:3000',
		username: '',
		email: '',
		password: '',
		page : '',
		message: '',
		products: [],
		error: ''
	},
	created(){
		if(localStorage.length > 0) {
			this.getProducts();
		}else{
			this.page = "login";
		}
	},
	methods: {
		login: function(){
			this.error = '';
			this.$http.post(this.url+'/api/Users/login', {email: this.email, password: this.password}).then(response => {
				if(response.ok) {
					localStorage.id = response.body.id;
					localStorage.userId = response.body.userId;
					this.page = "home";
					this.getProducts();
				}
			}, response => {
				this.error = response.body.error.message;
			});
		},
		logout: function(){
			const token = localStorage.id;
			this.$http.post(this.url+'/api/Users/logout?access_token=' + token).then(response => {
				this.page = "login";
				localStorage.removeItem("id");
				localStorage.removeItem("userId");
			}, response => {
				this.error = response.body.error.message;
			});
		},
		signup: function(){
			this.error = '';
			this.$http.post(this.url+'/api/Users', {username: this.username,email: this.email, password: this.password}).then(response => {
				if(response.ok) {
					this.page = "login";
				}
			}, response => {
				this.error = response.body.error.message;
			});
		},
		getProducts: function() {
			this.error = '';
			this.message = 'Waiting ...';
			const token = localStorage.id;
			this.$http.get(this.url+'/api/Products?filter=%7B%22where%22%20%3A%20%7B%22liked%22%20%3A%20false%7D%7D&access_token=' + token).then(response => {
				this.page = 'home';
				this.message  = '';
				this.products = response.body;
				if(this.products.length === 0) this.message = "No Products ...";
			}, response => {
				this.error = response.body.error.message;
			});
		},
		getPreferredProducts: function() {
			this.error = '';
			this.message = 'Waiting ...';
			const token = localStorage.id;
			this.$http.get(this.url+'/api/Products?filter=%7B%22where%22%20%3A%20%7B%22liked%22%20%3A%20true%7D%7D&access_token=' + token).then(response => {
				this.page = 'preferred';
				this.message  = '';
				this.products = response.body;
				if(this.products.length === 0) this.message = "No Products ...";
			}, response => {
				this.error = response.body.error.message;
			});
		},
		getNearbyProducts: function() {
			this.error = '';
			this.message = 'Waiting ...';
			const token = localStorage.id;
			this.$http.get(this.url+'/api/Products?filter=%7B%22where%22%20%3A%20%7B%22distance%22%20%3A%20%20%7B%22lt%22%3A%20100000%7D%7D%7D&access_token=' + token).then(response => {
				this.page = 'nearby';
				this.message  = '';
				this.products = response.body;
				if(this.products.length === 0) this.message = "No Products ...";
			}, response => {
				this.error = response.body.error.message;
			});
		},
		like: function(product){
			this.error = '';
			this.message = 'Waiting ...';
			const token = localStorage.id;
			this.$http.put(this.url+'/api/Products', {Title: product.Title, Image: product.Image, liked: true, distance: product.distance, id: product.id}).then(response => {
				this.message = '';
				this.getProducts();
			}, response => {
				this.error = response.body.error.message;
			});
		},
		dislike: function(product){
			this.error = '';
			this.message = 'Waiting ...';
			const token = localStorage.id;
			this.$http.put(this.url+'/api/Products', {Title: product.Title, Image: product.Image, liked: false, distance: product.distance, id: product.id}).then(response => {
				this.message = '';
				this.getPreferredProducts();
			}, response => {
				this.error = response.body.error.message;
			});
		}
	},
	computed: {
		orderedProducts: function () {
			return _.orderBy(this.products, 'distance');
		}
	}
})
</script>

</body>
</html>